.questionCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid #DDDDDD;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #202020;
}

.question {
    box-sizing: border-box;
    background-color: #EEEEEE;
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0;
}
.options {
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.option {
    width: 100%;
    border: 1px solid #DDDDDD;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    transition: 0.1s all ease-in-out;
}

.option:hover {
    transform: scale(1.1);
}

.bottomContainer {
    display: flex;
    width: 100%;
    margin: 1px solid black;
    justify-content: end;
    gap: 10px;
    padding: 10px;
    align-items: center;
    flex-direction: row;
}

.confirmButton {
    color: #FFFFFF;
    border: none;
    background-color: blue;
}

.explainThis {
    background-color: 00000000;
    color: blue;
    border: 1px solid blue;
    background-color: #FFFFFF;
}

.confirmButton, .explainThis {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
}

.confirmButton:hover, .explainThis:hover {
    transform: scale(1.1);
}