.questionTitle {
    font-size: 1.5rem;
}

.question {
    box-sizing: border-box;
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 20px auto;
    background-color: #121212;
    border-radius: 25px;
    color: #F0F0F0;
    font-size: 1.2rem;
}


@media (max-width: 600px) {
    
.question {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0 auto 20px auto;
    background-color: #121212;
    border-radius: 0;
    color: #F0F0F0;
    font-size: 1.2rem;
}
}
line {
    width: 80%;
    height: 1px;
    background-color: #E0E0E0;
    padding: 0;
    margin: 20px 0;
}

.options {
    width: 80%;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}

.optionContainer {
    display: flex;
    justify-content: start;
    width: 80%;
}

.option {
    width: 100%;
    background-color: #121212;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #00000000;
    transition: 0.1s all ease-in-out;
    font-size: 1.0rem;
    color: #E0E0E0;
}


.optionCheckBox {
    display: none;
}

.option:hover {
    transform: scale(1.1);
    border: 1px solid #4763bd;
}

.optionCorrect,
.optionWrong {
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #00000000;
}

.optionCorrect {
    background-color: #27D585;
}

.optionWrong {
    background-color: #F36F6F;
}

.optionCheckBox:checked+.option {
    background-color: #4763bd;
    color: #F0F0F0;
}

.topContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.timerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 auto;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 2px solid #7a1593;
    border-radius: 50%;
}

.difficultyTextPrev {
    font-size: 1.0rem;
    font-weight: bold;
    margin: 0 0 0 20px;
    color: #E0E0E0;
}

.difficultyText {
    font-size: 1.0rem;
    font-weight: bold;
    margin: 0 10px;
    color: green;
}