.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #101010;
}

.title {
    margin: 5px;
    font-size: 1.8rem;
    font-weight: 1000;
    color: #E0E0E0;
}

.progressBarContainer {
    width: 100%;
    height: 5px;
    margin: auto 0 0 0;
    padding: 0;
    background-color: #101010;
}

.progressBar {
    height: 100%;
    border-radius: 0 5px 5px 0;
    background-color: #484CBD;
    background: linear-gradient(120deg, #7128e6 0%, #8512ac 100%);
    transition: 0.5s all ease-in-out;
}