

.explanationCard {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: #121212DD;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px #00000050;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    min-height: 100px;
    margin-bottom: 100px;
    color: #E0E0E0;
}

.explicationTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.explanationText {
    background-color: #101010DD;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 15px;
    font-size: 1.0rem;
    line-height: 1.5rem;
    border-radius: 5px;
}
