.questionCard {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    overflow-y: scroll;
    background-color: #F0F0F0;
    color: #202020;
    z-index: 100px;
}

@media (max-width: 600px) {
    .questionCard {
        box-shadow: none;
        border-radius: 0;
        margin: 2px auto;
    }
}
.questionCardExplain {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    z-index: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color: #F0F0F0;
    color: #202020;
}

.questionTitle {
    font-size: 1.7rem;
}
.question {
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 20px auto;
    background-color: #484CBD;
    border-radius: 25px;
    color: #F0F0F0;
    font-size: 1.5rem;
}

line {
    width: 80%;
    height: 1px;
    background-color: #E0E0E0;
    padding: 0;
    margin: 20px 0;
}

.options {
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.optionContainer {
    display: flex;
    justify-content: start;
    width: 80%;
}

.option {
    width: 100%;
    background-color: #E0E0E0;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #00000000;
    transition: 0.1s all ease-in-out;
    font-size: 1.0rem;
}


.optionCheckBox {
    display: none;
}

.option:hover {
    transform: scale(1.1);
    border: 1px solid #4763bd;
}

.optionCorrect, .optionWrong {
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #00000000;
}
.optionCorrect {
    background-color: #27D585;
}
.optionWrong {
    background-color: #F36F6F;
}
.optionCheckBox:checked + .option {
    background-color: #4763bd;
    color: #F0F0F0;
}

.explanationContainer {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    min-height: 100px;
    margin-bottom: 100px;
    color: #505050;
}

.bottomContainer {
    position: fixed;
    width: 80%;
    margin: auto;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 20px;
    padding: 0 20px 10px 20px;
}
.confirmButton {
    margin: auto;
    color: #FFFFFF;
    border: none;
    background-color: #2050F0;
    width: 50%;
}

.confirmButton:disabled {
    background-color: #AAAAAA;
}
.explainThis {
    margin: auto 20px;
    width: 100px;
    color: #2050F0;
    border: 2px solid #2050F0;
    background-color: #00000000;
}

.confirmButton, .explainThis {
    height: 50px;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
    font-size: 1.2rem;
}

.confirmButton:hover, .explainThis:hover {
    transform: scale(1.01);
    color: #FFFFFF;
    border: none;
    background-color: #3d64e6;
}